body {
  padding: 0 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.character {
  width: 10em;
}

.card {
  text-align: center;
  background: #1661a7;
  border-radius: 10px;
  box-sizing: border-box;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.card:hover {
  cursor: pointer;
  background: #4c9ce7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}


@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}